<aside>
    <h4> Dashboard </h4>
    <a routerLink="/admin/tusers">
      <i class="fa fa-user-o" aria-hidden="true"></i>
     Users
    </a>

    <a routerLink="/admin/tfeedbacks">
      <i class="fa fa-user-o" aria-hidden="true"></i>
     Feedbacks
    </a>
    <a routerLink="/admin/tpets">
      <i class="fa fa-laptop" aria-hidden="true"></i>
     Pets
    </a>
    <a routerLink="/admin/tsupply">
      <i class="fa fa-laptop" aria-hidden="true"></i>
     Supply
    </a>

 
    <a routerLink="/admin/torders">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
     Orders
    </a>
    <a href="/admin/tvetcenters">
      <i class="fa fa-star-o" aria-hidden="true"></i>
      veternaries
    </a>
    <a href="/admin/tappointment">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      Apoointments
    </a>

    <a href="/admin/tdoctor">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      Doctors
    </a>
  </aside>
  
  <!-- <div class="social">
    <a href="https://www.linkedin.com/in/florin-cornea-b5118057/" target="_blank">
      <i class="fa fa-linkedin"></i>
    </a>
  </div> -->
