<div id="myCarousel" class="carousel slide col-md-12 d-none d-xl-block d-xxl-none" data-bs-ride="carousel" style="width: 1500px; height: 500px; overflow: hidden;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner mt-5 " style="padding-right: 100px;">
    <!-- Slide 1 -->
    <div class="carousel-item active ">
      <div class="d-flex flex-row-reverse bd-highlight col-lg-12 col-md-6 col-sm-3 ">
        <img src="/assets/sad_cat&dog.png" style="width: 650px; height: 350px" class="img-responsive" />
      </div>
      <div class="container-fluid ">
        <div class="carousel-caption text-start text-black ">
          <h1 class=" mb-3" style="color: #C25452 ; font-size: 60px;">Never let your pet</h1>
          <p style="font-size: 19px;">Here in meshmesh you can Buy, Sell or offer your pet for adoption.</p>
          <div class="container  justify-content-start">
            <div class="button-container ">
              <div class="dog ">
                <div class="tail"></div>
                <div class="body"></div>
                <div class="head">
                  <div class="eyes">
                    <div class="left"></div>
                    <div class="right"></div>
                  </div>
                  <div class="nuzzle">
                    <div class="mouth">
                      <div class="tongue"></div>
                    </div>
                    <div class="nose">
                      <div class="nostrils"></div>
                      <div class="highlight"></div>
                    </div>
                  </div>
                </div>
                <div class="ears">
                  <div class="left"></div>
                  <div class="right"></div>
                </div>
              </div>
              <button  routerLink="/products">
Discover !              </button>
              <div class="paw"></div>
              <div class="paw top"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Slide 2 -->
    <div class="carousel-item">
      <div class="d-flex flex-row-reverse bd-highlight">
        <img src="/assets/veterinarian-clinic.png" style="width: 700px; height: 400px" class="img-responsive" />
      </div>
      <div class="container-fluid">
        <div class="carousel-caption text-start text-black">
          <h1 style="color: #C25452; font-size: 60px;">Your pet's health</h1>
          <p style="font-size: 18px;">We can also offer for you an appointment with veterinarian clinics.</p>
          <p><a class="btn btn-lg btn-outline-secondary" href="/show_Vets">Book Now</a></p>
        </div>
      </div>
    </div>
    <!-- Slide 3 -->
    <div class="carousel-item">
      <div class="d-flex flex-row-reverse bd-highlight">
        <img src="/assets/toys4.png" style="width: 700px; height: 400px; margin-left: 180px" class="img-responsive" />
        <div class="container-fluid">
          <div class="carousel-caption text-start text-black" style="margin-right: 150px">
            <h1 style="color: #C25452; font-size: 60px;">Food & Suplies</h1>
            <p style="font-size: 18px;">All you need for your pet .</p>

            <p><a class="btn btn-lg btn-danger" routerLink="supplies" href="/supplies">Go !</a></p>
          </div>
        </div>
      </div>
    
  </div>
  <!-- Carousel Controls -->
  <button class="carousel-control-prev "  type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon "  aria-hidden="true"></span>
    <span class="visually-hidden" >Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>


    <!-- <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
  <body>
    
<main>
<div class="background">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-4 fw-bold pb-4">Discover<span style="color: #FF9831;"> Meshmesh</span></h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 pe-4 pb-3">Meshmesh, your all-in-one solution for buying, selling, adopting, and hosting pets. Plus, easily book vet appointments. Join us and embrace a world of pet love and care.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center pb-5">
        <button  type="button" class="btn btn-outline-warning btn-lg px-4 ">SignUp Now !</button>
      </div>
    </div>
  </div></div>
</main>
  </body> -->



