
<section id="features" class="we-offer-area item-border-less">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="site-heading text-center">
                  <h2>What we <span>Offer</span></h2>
              </div>
          </div>
      </div>
          <div class="row our-offer-items less-carousel">
              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                  <div class="item">
                    <i class="fa fa-dollar"></i>
                                          <h4>Sell</h4>
                      <p>
                        Connect with pet enthusiasts! Sell or adopt adorable pets and accessories in our vibrant marketplace                      </p>
                  </div>
              </div>
              <!-- End Single Item -->

              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                  <div class="item">
                      <i class="fa fa-paw"></i>
                      <h4>Buy</h4>
                      <p>
                        Discover pets and premium products. Find your new companion or shop trusted supplies conveniently.                      </p>
                  </div>
              </div>
              <!-- End Single Item -->

              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                  <div class="item">
                      <i class="fa fa-shield"></i>
                      <h4>Adoption</h4>
                      <p>
                        Give pets a second chance! Browse our Adoption Center, connecting loving homes with deserving animals.                      </p>
                  </div>
              </div>
              <!-- End Single Item -->

              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                  <div class="item">
                      <i class="fa fa-heart"></i>
                      <h4>Supplies</h4>
                      <p>
                        Elevate pet living! Explore curated supplies—from cozy beds to nutritious treats—for happy, healthy companions.                      </p>
                  </div>
              </div>
              <!-- End Single Item -->

              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                  <div class="item">
                      <i class="fa fa-stethoscope"></i>
                      <h4> Veterinary Clinic</h4>
                      <p>
                      Prioritize pet health! Connect with trusted veterinarians, scheduling appointments effortlessly for expert care.                      </p>
                  </div>
              </div>
              <!-- End Single Item -->

              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                  <div class="item">
                    <i class="fa fa-calendar"></i>                      <h4>Book appointment</h4>
                      <p>
                        Streamline pet care! Easily schedule veterinary visits, ensuring your furry friend's well-being with MeshMesh.                      </p>
                  </div>
              </div>
              <!-- End Single Item -->

          </div>
  </div>
</section>