
<div class="container-fluid">
    <div class="container mt-4">
        <h1 class="display-4 fw-bold pb-4">All <span style="color: #FF9831;">Birds</span></h1>

        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let pet of birds | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                <!-- pet-card.component.html -->
                <div class="card mb-5 pt-3 pb-3" style="width: 100%; max-width: 350px;">
                    <img [src]="generateImageUrl(pet.image)" style="width: 100%; height: 200px; object-fit: contain;">
                    <hr>
                    <div class="card-body">
                        <h3 class="card-title"><span style="color: #FF9831; font-weight: bold;"></span>{{ pet?.type }}</h3>
                        <!-- <p class="card-text"><span style="color: green;">Price: </span>{{ pet?.price }}</p> -->

                       <div class="card-text d-flex"> <p><span style="color: #FF9831;font-weight: bold;">For&nbsp;:&nbsp;</span>{{ pet?.operation }} </p>
                        <div class="rounded-circle" >
                            <h5 class=" ps-3 pe-3" >{{ pet?.price }}<span style="color: green;">$</span></h5>
                            </div>
                    </div>


                        <div class="btn_main">
                            <div class="buy_bt">
                                <button class="btn btn-outline-success" (click)="addToCart(pet)">
Add to cart <i class="fa fa-cart-plus"></i>
                                </button>
                            </div>
                            <div class=" btn btn-outline-secondary text-dark"><a class="text-dark" href="#"[routerLink]="['/product', pet.id]">show pet  <i class="fa fa-arrow-right"></i></a></div>

                        </div>
                        <!-- Add more content based on your data structure -->
                    </div>
                </div>
               
            </div>
            <div class="text-center" *ngIf="pets.length">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>
