<div class="container-fluid footer ">
  <div class="container">
    <footer class="pt-4">
      <div class="row">
        
  
        <div class="col-3 pt-4">
          <h3 class="text-dark">Our Services</h3>
          <ul>
          <li>
            <a href="#" class="nav-link px-2 anav_white" routerLinkActive="background rounded text-dark"routerLink="/products">Pets </a>
          </li>
          
            <li>
              <a href="#" class="nav-link px-2 anav_white" routerLinkActive="background rounded text-dark"  routerLink="/supplies">Supplies</a>
            </li>
           
          <li>
            <a href="#" class="nav-link px-2 anav_white" routerLinkActive="background rounded text-dark" routerLink="/show_Vets" >Vetirnary center</a>
          </li>
          <li>
            <a href="#" class="nav-link px-2 anav_white" routerLinkActive="background rounded text-dark" routerLink="/about_us" >About Us</a>
          </li>
          <li>
            <a href="#" class="nav-link px-2 anav_white" routerLinkActive="background rounded text-dark" routerLink="/myPets">My Pets</a>
          </li>
          
        
        </ul>
        </div>
  
        <div class="col-3 pt-4 ms-5 text-dark">
          <h3 class="text-dark">Pets Categories</h3>
          <ul class="nav flex-column text-dark" >
            <li >
              <a href="#" class="nav-link px-2 anav_white text-dark" routerLinkActive="background rounded text-dark"  routerLink="/cats">Cats</a>
            </li>
           
          <li>
            <a href="#" class="nav-link px-2 anav_white text-dark" routerLinkActive="background rounded text-dark" routerLink="/dogs" >Dogs</a>
          </li>
          <li>
            <a href="#" class="nav-link px-2 anav_white text-dark" routerLinkActive="background rounded text-dark" routerLink="/birds" >Birds</a>
          </li>
          <li>
            <a href="#" class="nav-link px-2 anav_white text-dark" routerLinkActive="background rounded text-dark" routerLink="/animalforbreading">Another animals</a>
          </li>
           
          </ul>
        </div>
  
        <div class="col-5 ">
          <img src="/assets/logoc.png" class="ms-5"
          style="width: 300px; margin-left: 90px;" >
  
        </div>
      </div>
  
      <div class="d-flex justify-content-between py-1  border-top">
        <p>&copy; 2021 Company, Inc. All rights reserved.</p>
        
      </div>
    </footer>
  </div>
  </div>