.position-absolute:hover{
    background-color: rgb(247, 44, 44);
}


 .background {
    /* background-image: url('https://i.pinimg.com/564x/e5/3c/b2/e53cb2efbae7b0a338af5471506a3da3.jpg'); */
    /* background-color: #FFB6C1;  */
    background-image: url('/assets/bg.png');
    /* width: 100%;
    min-height: 50vh; */
   
    background-size: cover;
    background-position: center;
    
    background-repeat: repeat-y;

  }
  
  .active {
    /* background-color: pink; */
    /* background-color: #30748c; */
    /* background-color: #FFB6C1; */
    /* background-color: gray; */
    background-color:#d1a57f8d;
    
  }
  