<div class="container-fluid">

	<div class="row py-5">
		<div class="col-lg-7 pb-5 pb-lg-0 px-3 px-lg-5">
			<h1 class="display-4 mb-4"><span class="text-primary">About</span>  <span class="text-secondary">Us</span></h1>
			<h5 class="text-muted mb-3">Discover a world where your pets' needs and your aspirations as a pet parent seamlessly come together.




			</h5>
			<p class="mb-4">MeshMesh offers a dynamic platform where you can buy, sell, and adopt pets, explore a curated marketplace for top-notch products, and book vet appointments with ease. Our community is built on a shared love for pets, connecting enthusiasts, and fostering responsible pet ownership. Join MeshMesh – because your pet's happiness starts here!




			</p>
			<ul class="list-inline">
				<li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Best In Industry</h5></li>
				<li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Emergency Services</h5></li>
				<li><h5><i class="fa fa-check-double text-secondary mr-3"></i>24/7 Customer Support</h5></li>
			</ul>
		</div>
		<div class="col-lg-5">
			<div class="row px-3">
				<div class="col-12 p-0">
					<img class="img-fluid w-100" src="/assets/man-run-with-dogs.png" alt="">
				</div>
				
			</div>
		</div>
	</div>
</div>
<!-- </div> -->
<div class="container-fluid">
<ul>
    <li style="--accent-color:#41516C">
        <div class="date">Sell</div>
        <div class="descr">Embark on a journey into our pet-loving marketplace, where the MeshMesh community connects! If you're a breeder looking to find forever homes for adorable pets or a pet enthusiast with gently used items, MeshMesh's Sell platform is your go-to. List your pets or pet-related products and join a vibrant community that shares your passion for furry companions.</div>
    </li>
    <li style="--accent-color:#FBCA3E">
        <div class="date">Buy</div>
        
        <div class="descr">Discover your new best friend or shop for premium pet products with MeshMesh's Buy section. Our platform showcases a diverse range of pets, from playful kittens to loyal dogs, all seeking their forever homes. Additionally, shop for top-quality pet supplies, toys, and accessories from trusted sellers. Every purchase contributes to the well-being of pets worldwide.</div>
    </li>
    <li style="--accent-color:#E24A68">
        <div class="date">Adopt</div>
        
        <div class="descr">
			Expand your family with a furry friend through our Adoption Center. In partnership with reputable shelters and rescue organizations, MeshMesh connects you with pets in need of loving homes. Adopting a pet not only brings joy to your life but also gives a deserving animal a second chance at happiness.</div>
    </li>
    <li style="--accent-color:#1B5F8C">
        <div class="date">Supplies</div>
        <div class="descr">
			Ensure your pets lead happy, healthy lives with MeshMesh's extensive range of pet supplies. From nutritious food options to cozy beds, stylish collars, and interactive toys, our platform offers a carefully curated selection of products to meet the unique needs of every pet. Trust MeshMesh for quality and variety when shopping for your beloved companions.</div>
    </li>
    <li style="--accent-color:#4CADAD">
        <div class="date">Veterinaries</div>
        <div class="descr">
			Your pet's well-being is our top priority. Connect with qualified veterinarians through MeshMesh who provide expert care for your furry friends. With our user-friendly platform, scheduling vet appointments is a breeze. Access medical advice and stay on top of your pet's health with ease. MeshMesh is committed to fostering a community that prioritizes the health and happiness of all animals.
		</div>
    </li>
	<li style="--accent-color:#4CADAD">
        <div class="date">Book appointment</div>
        <div class="descr">
			MeshMesh simplifies the veterinary care process with our user-friendly appointment booking feature. Conveniently schedule vet visits for your pets in just a few clicks, ensuring they receive the care they deserve. Trust MeshMesh to make managing your pet's health a seamless and stress-free experience.		</div>
    </li>
</ul>
</div>
<div class="container-fluid">
	<section>
		<section class="team-page-section">
			<div class="container ">
				<!-- Sec Title -->
				<div class="sec-title centered">
					<div class="title">Our Team</div>
					<div class="separator"><span></span></div>
					<h2>The Development Team</h2>
				</div>
	
				<div class="row clearfix align-items-center justify-content-center">
	
					<!-- Team Block -->
					<div class="team-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<ul class="social-icons">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-skype"></i></a></li>
	
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
							<div class="image">
								<a href="#"><img src="./assets/sakr.png" style="height: 400px; width: 320px; border-radius: 10px;" alt="" /></a>
							</div>
							<div class="lower-content">
								<h3><a href="#">Abdelrahman Sakr</a></h3>
							</div>
						</div>
					</div>
					<!-- Team Block -->
					<div class="team-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<ul class="social-icons">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-skype"></i></a></li>
	
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
							<div class="image">
								<a href="#"><img src="./assets/Shri.png" style="height: 400px; width: 320px; border-radius: 10px;" alt="" /></a>
							</div>
							<div class="lower-content">
								<h3><a href="#">Ahmed S. Elshrif </a></h3>
							</div>
						</div>
					</div>
					<!-- Team Block -->
					<div class="team-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<ul class="social-icons">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-skype"></i></a></li>
	
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
							<div class="image">
								<a href="#"><img src="./assets/askr.png" style="height: 400px; width: 320px; border-radius: 10px;" alt="" /></a>
							</div>
							<div class="lower-content">
								<h3><a href="#">Mostafa Askr</a></h3>
							</div>
						</div>
					</div>
					<!-- Team Block -->
					<div class="team-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<ul class="social-icons">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-skype"></i></a></li>
	
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
							<div class="image">
								<a href="#"><img src="./assets/magda.png" style="height: 400px; width: 320px; border-radius: 10px;" alt="" /></a>
							</div>
							<div class="lower-content">
								<h3><a href="#">Magda Ahmed</a></h3>
							</div>
						</div>
					</div>
					
					<!-- Team Block -->
					<div class="team-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<ul class="social-icons">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-skype"></i></a></li>
	
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
							<div class="image">
								<a href="#"><img src="./assets/kh.png" style="height: 400px; width: 320px; border-radius: 10px;" alt="" /></a>
							</div>
							<div class="lower-content">
								<h3><a href="#">Khaled Gomaa </a></h3>
							</div>
						</div>
					</div>
	
				</div>
			</div>
		</section>
	</section>
</div>