
<!-- success.component.html -->

<div class="container mt-5">
    <div class="text-center">
      <img src="assets/payment-done.png" alt="Success Icon" class="img-fluid success-icon">
      <h2 class="mt-3">Payment Successfully Processed</h2>
      <p class="lead">Thank you for choosing our services. Your payment of $........ has been successfully processed.</p>
      <!-- <p class="lead">Thank you for choosing our services. Your payment of ${{ totalPrice.toFixed(2) }} has been successfully processed.</p> -->

    </div>
  
    <div class="text-center mt-4">
      <button class="btn btn-success" routerLink="/">Return to Website</button>
    </div>
    <br>
  </div>
  
